body {
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    padding: 0;
    min-width: 500px;
}

.board-container {
    margin: 0;
}

.cell {
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;
    background-color: #BFBFBF;
    color: black;
    border: 4px outset rgb(247, 243, 243);
    box-sizing: border-box;
    user-select: none;
}

.cell img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.revealed {
    background-color: #b3afaf;
    border: 4px inset rgb(247, 243, 243);
    text-align: center;
    border: none;
}

.board-container {
    background-color: #7B7B7B;
}

.mega-hit-mark {
    background-color: rgb(14, 56, 222);
}

.safe-mark {
    background-color: chartreuse;
}

.game-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}

.bar {
    background-color: antiquewhite;
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #BFBFBF;
    color: black;
    border: 4px outset rgb(247, 243, 243);
    box-sizing: border-box;
    user-select: none;
    /* justify-content: space-around; */
}

.timer {
    padding: 5px;
}

.life {
    padding: 5px;
    display: block;
    height: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.smiley {
    cursor: pointer;
    background-color: #7B7B7B;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #BFBFBF;
    color: black;
    border: 4px outset rgb(247, 243, 243);
    box-sizing: border-box;
    user-select: none;
    transition: transform 0.2s;
}

.smiley:active {
    transform: translateY(2px);
}

.hints {
    padding: 5px;
}

.hide-btn {
    pointer-events: none;
    opacity: 0;
}

.mines {
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    background-color: #7B7B7B;
    align-items: center;
    background-color: #BFBFBF;
    color: black;
    border: 4px outset rgb(247, 243, 243);
    box-sizing: border-box;
    user-select: none;
    transition: transform 0.2s;
}

.btn:active {
    transform: translateY(2px);
}

.mines img {
    height: 20px;
}

.accessories {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.helper {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.hint-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.level-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.active-manual {}

.game-score {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    gap: 120px;
}

.x1 {
    color: blue;
}

.x2 {
    color: green
}

.x3 {
    color: red
}

.x4 {
    color: darkblue
}

.x5 {
    color: brown
}

.x6 {
    color: greenyellow
}

.x7 {
    color: cadetblue
}

.x8 {
    color: black
}

.author {
    font-family: Calibri;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
}

.list {
    font-size: 15px;
}